<!DOCTYPE html>
<html lang="PT-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <title>Jogatina | A Rede Social de RPG - Editar Perfil</title>
</head>

<body>

    <%- include('./../partials/header') %>

    <main>
        
        <div class="container-fluid">
            <div class="row">

                <div class="mt-5 col-lg-7 offset-lg-2">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card my-3 bg-dark">
                                <div class="card-body p-2">
                                    <div class="h6"><img class="rounded-circle bg-dark" src="/images/arqueira.png" width="40" height="auto" alt="">Personagens</div>
                                    

                                    <p>Barbaro</p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%"
                                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">Vitalidade</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 30%"
                                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Mana</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 35%"
                                            aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">Inteligência</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Força</div>
                                    </div>
                                    <p>Mago</p>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 65%"
                                            aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">Vitalidade</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 100%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Mana</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 85%"
                                            aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Inteligência</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 40%"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Força</div>
                                    </div>

                                    <a class="btn btn-link" href="#">Mais...</a>

                                </div>
                            </div>
                        </div>
                        <div class="mt-3 col-12 col-lg-8">

                            <div class="col">
                                <div class="row">
                                  <div class="col mb-3">
                                    <div class="card">
                                      <div class="card-body p-2">
                                        <div class="e-profile">
                                          <div class="row">
                                            <div class="form-group">
                                                <label for="exampleFormControlFile1">Imagem de perfil</label>
                                                <input name="imagem_perfil" type="file" class="form-control-file" id="exampleFormControlFile1" >
                                              </div>
                                            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                              <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Nome Completo</h4>
                                                <div class="mt-2">
                                                  <button class="btn btn-primary" type="button">
                                                    <i class="fa fa-fw fa-camera"></i>
                                                    <span>Mudar foto</span>
                                                  </button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <ul class="nav nav-tabs">
                                            <li class="nav-item"><a href="" class="active nav-link">Meus Dados</a></li>
                                          </ul>
                                          <div class="tab-content pt-3">
                                            <div class="tab-pane active">
                                              <form action="/editar/<%= myUser.id %>?_method=PUT">
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-user"></i></span>
                                                    </div>
                                                   <input name="nome" class="form-control" placeholder="Nome Completo" type="text" value="<%= myUser.nome %>">
                                                </div>
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-envelope"></i></span>
                                                    </div>
                                                    <input name="email" class="form-control" placeholder="Endereço de Email" type="email" value="<%= myUser.email%>">
                                                </div>
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-calendar"></i></span>
                                                    </div>
                                                    <select name="data_nascimento"class="custom-select" style="max-width: 120px;" value="<%= myUser.data_nascimento%>">
                                                        <option selected="">Dia</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="22">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                    </select>
                                                    <select class="custom-select" style="max-width: 120px;">
                                                        <option selected="">Mês</option>
                                                        <option value="01">Janeiro</option>
                                                        <option value="02">Fevereiro</option>
                                                        <option value="03">Março</option>
                                                        <option value="04">Abril</option>
                                                        <option value="05">Maio</option>
                                                        <option value="06">Junho</option>
                                                        <option value="07">Julho</option>
                                                        <option value="08">Agosto</option>
                                                        <option value="09">Setembro</option>
                                                        <option value="10">Outubro</option>
                                                        <option value="11">Novembro</option>
                                                        <option value="12">Dezembro</option>
                                                    </select>
                                                    <select class="custom-select" style="max-width: 120px;">
                                                        <option selected="">Ano</option>
                                                        <option value="1">2002</option>
                                                        <option value="2">2001</option>
                                                        <option value="3">2000</option>
                                                        <option value="4">1999</option>
                                                        <option value="5">1998</option>
                                                        <option value="6">1997</option>
                                                        <option value="7">1996</option>
                                                        <option value="8">1995</option>
                                                        <option value="9">1994</option>
                                                        <option value="10">1993</option>
                                                        <option value="11">1992</option>
                                                        <option value="12">1991</option>
                                                        <option value="13">1990</option>
                                                        <option value="14">1989</option>
                                                        <option value="15">1988</option>
                                                        <option value="16">1987</option>
                                                        <option value="17">1986</option>
                                                        <option value="18">1985</option>
                                                        <option value="19">1984</option>
                                                        <option value="20">1983</option>
                                                        <option value="21">1982</option>
                                                        <option value="22">1981</option>
                                                        <option value="23">1979</option>
                                                        <option value="24">1978</option>
                                                        <option value="25">1977</option>
                                                        <option value="26">1976</option>
                                                        <option value="27">1975</option>
                                                        <option value="28">1974</option>
                                                        <option value="29">1973</option>
                                                        <option value="30">1972</option>
                                                        <option value="31">1971</option>
                                                        <option value="32">1970</option>
                                                    </select>
                                                </div>
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-transgender-alt"></i></span>
                                                    </div>
                                                    <select name="genero" class="custom-select" value="<%= myUser.genero%>">
                                                        <option selected="">Gênero</option>
                                                        <option>Masculino</option>
                                                        <option>Feminino</option>
                                                        <option>Outro</option>
                                                    </select>
                                                </div>
                                                <div class="form-group input-group">
                                                  <div class="input-group-prepend">
                                                      <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                                  </div>
                                                  <input name="senha" class="form-control" placeholder="Insira senha atual" type="password" value="<%= myUser.senha %>">
                                              </div>
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                                    </div>
                                                    <input name="senha" class="form-control" placeholder="Crie uma senha" type="password" value="<%= myUser.senha %>">
                                                </div>
                                                <div class="form-group input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                                    </div>
                                                    <input name="senha" class="form-control" placeholder="Repita sua senha" type="password" value="<%= myUser.senha %>">
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-redish btn-block"> Salvar</button>
                                                </div>
                                            </form>
                                            <form form action="/deletar/<%= myUser.id %>?_method=DELETE">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-redish btn-block"> Deletar Usuário</button>
                                                </div>
                                            </form>

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('./../partials/footer') %>


</body>

</html>